body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(#021B3A,#0A4D8C);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    text-align:center;
}

.contenedor{
    padding:20px;
    max-width:700px;
}

h1{
    font-size:2.2em;
}

.mensaje{
    font-size:1.2em;
    line-height:1.8;
}

button{
    margin-top:25px;
    padding:15px 30px;
    border:none;
    border-radius:30px;
    background:#4FC3F7;
    color:white;
    font-size:18px;
}
#regalo{
    margin-top:25px;
    background:white;
    color:#021B3A;
    padding:20px;
    border-radius:20px;
    text-align:left;
    max-height:400px;
    overflow-y:auto;
}

#regalo p{
    margin-bottom:15px;
}
.galeria{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-bottom:20px;
    align-items:center;
}

.galeria img{
    width:90%;
    max-width:320px;
    border-radius:20px;
    box-shadow:0 0 15px rgba(255,255,255,.3);
}
body {
    background: linear-gradient(to bottom, #071a3d, #0b3d91);
    color: white;
    overflow-x: hidden;
}

body::before {
    content: "✨ ⭐ ✨ ⭐ ✨ ⭐ ✨";
    position: fixed;
    top: 10%;
    left: 10%;
    font-size: 25px;
    opacity: 0.7;
    animation: estrellas 4s infinite alternate;
    pointer-events: none;
}

@keyframes estrellas {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}